#back {
    width: 120px;
    right:50%;
    margin-right:-60px;
    position: fixed;
    bottom: 20px;
}
input {
    border: 1px solid blue;
}
.btn-success {
    margin-bottom: 4px;
}
.date-in-work{
    font-size: 17px !important;
    font-weight: 600;
}
#back button {
    width: 100%;
}