#back {
    width: 120px;
    right:50%;
    margin-right:-60px;
    position: fixed;
    bottom: 20px;
}
#back button {
    width: 100%;
}
.content{
    width: 90%;
    margin: auto;
}
table.buttons{
    width: 100% !important;
}
.button_actions{
    width: 50%;
    position:relative;
    bottom: 5px;
    margin-top: 20px;
    margin: auto;
}
.button_actions button {
    width: 100%;
}
.greenCopy{
    color: green;
    font-weight: 600;
}
#copy img{
    width: 30px;
    margin-top: -5px;
}