.comment {
    width: 14%;
}
input.form-control {
    width: 65%;
    float: left;
}
.error {
    text-align: center;
}
.table-from-nat{
    background-color: #E4E4E4;
}
.table-to {
    background-color: #BFECFF;
}

input.ng-touched.ng-invalid {border:solid red 1px;}
input.ng-touched.ng-valid {border:solid green 1px !important;}
.coordinateSuccess {
    background-color: #B7F2B4 !important;
    font-weight: 600;
}
button:hover{
    cursor: pointer;
}
.status {
    width:7%;
}
.delete {
    width: 5%;
}
.date{
    width: 10%;
}
button.form-control {
    width: 10%;
    float: right;
}
.title {
    text-align: center;
}
.col-centered{
    float: none;
    margin: 0 auto;
}