<h2 [style.color]="'red'" [ngClass]="{error: true}" *ngIf="errorMessage">{{errorMessage}}</h2>
<div class="row" *ngIf="!data.length && !countStartData">
    <div class="col-centered">
        <img src="assets/images/loader.gif" alt="Идет загрузка..." >
    </div>
</div>



<div class="table-responsive" *ngIf="data.length">
    <h2 class="title">На терминале</h2>
    <table class="table table-hover table-bordered">
        <thead class="thead-inverse">
        <tr>
            <th>Статус</th>
            <th>$$$</th>
            <th>Номер</th>
            <th>Телефон</th>
            <th>Добавлен</th>
            <th>№</th>
            <th>Комментарии</th>
            <th>Осн. комментарии</th>
            <th>Комментарий</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of data" [ngClass]="{'table-from-nat':item.status == '2','table-to':item.status == '3'}">
            <td [ngClass]="{status: true}">{{item.status | i18nPlural:statusTitle}}</td>
            <td>{{item.balance}}</td>
            <td>{{item.plate}} <a href="#" (click)="trelloConfirm(item);"><img src="assets/images/trello.png" width="16px" alt="Занести в Trello"></a></td>
            <td>{{item.phone}}</td>
            <td [ngClass]="{date: true}">{{item.date_create | date:'dd-MM-yyyy'}}</td>
            <td [ngClass]="{coordinateSuccess : item.relation == 1}">{{item.deviceId}}</td>
            <td [ngClass]="{comment: true}">{{item.comment}}</td>
            <td [ngClass]="{comment: true}">{{item.main_comment}}</td>
            <td><input type="text" name="comment" #comment="ngModel" [(ngModel)]="comment.value" required class="form-control" >&nbsp;<button (click)="addComment(item,comment.value)" type="button" class="btn btn-success" [disabled]="comment.invalid">Ok</button></td>
            <td class="delete"><button type="button" class="btn btn-primary" (click)="delete(item)">Удалить</button></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="row" *ngIf="!timeslotsData.length && countStartData">
    <div class="col-centered">
        <img src="assets/images/loader.gif" alt="Идет загрузка..." >
    </div>
</div>

<div class="table-responsive" *ngIf="timeslotsData.length">
    <h2 class="title">Окна должников</h2>
    <table class="table table-hover table-bordered">
        <thead class="thead-inverse">
        <tr>
            <th>Номер</th>
            <th>Телефон</th>
            <th>Окно</th>
            <th>Добавлен</th>
            <th>№</th>
            <th>Комментарии</th>
            <th>Осн. комментарии</th>
            <th>Комментарий</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of timeslotsData">
            <td>{{item.plate}}</td>
            <td>{{item.phone}}</td>
            <td [ngClass]="{date: true}">{{item.date_window | date:'dd-MM-yyyy HH:mm'}}</td>
            <td [ngClass]="{date: true}">{{item.date_create | date:'dd-MM-yyyy'}}</td>
            <td [ngClass]="{coordinateSuccess : item.relation == 1}">{{item.deviceId}}</td>
            <td [ngClass]="{comment: true}">{{item.comment}}</td>
            <td [ngClass]="{comment: true}">{{item.main_comment}}</td>
            <td><input type="text" name="comment" #comment="ngModel" [(ngModel)]="comment.value" required class="form-control" >&nbsp;<button (click)="addComment(item,comment.value)" type="button" class="btn btn-success" [disabled]="comment.invalid">Ok</button></td>
            <td class="delete"><button type="button" class="btn btn-primary" (click)="delete(item)">Удалить</button></td>
        </tr>
        </tbody>
    </table>
</div>