.comment {
    width: 14%;
}
input.form-control {
    width: 65%;
    float: left;
}
button:hover{
    cursor: pointer;
}
.status {
    width:7%;
}
.delete {
    width: 5%;
}
.date{
    width: 10%;
}
button.form-control {
    width: 10%;
    float: right;
}
#title {
    text-align: center;
}
.col-centered{
    float: none;
    margin: 0 auto;
}