<button type="button" class="btn btn-primary" id="exit" (click)="exit()" *ngIf="data.length">Выход</button>
<h2 [style.color]="'red'" [ngClass]="{error: true}" *ngIf="errorMessage">{{errorMessage}}</h2>
<div class="row" *ngIf="!data.length">
  <div class="col-centered">
    <img src="assets/images/loader.gif" alt="Идет загрузка..." >
  </div>
</div>

<div class="table-responsive" *ngIf="data.length">
  <h2 class="title">Список задач</h2>
  <table class="table table-hover table-bordered">
    <thead class="thead-inverse">
    <tr>
      <th class="add_date">Добавлен</th>
      <th class="plate">Номер</th>
      <th>Номер акта</th>
      <th>№</th>
      <th>Дата</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of data" [ngClass]="{'sanction':item.sanction == 0}">
      <td [ngClass]="{date: true}">{{item.date_create | date:'hh:mm dd-MM'}}</td>
      <td>{{item.plate}}<br>
      <td>

      <span *ngIf="item.act !== ''">{{item.act}}</span>
      <div class="centered" *ngIf="item.act === ''">
      <input type="text" name="act" #act="ngModel" [(ngModel)]="act.value" required class="form-control" >&nbsp;<button (click)="addAct(item,act.value);" type="button" class="btn btn-success" [disabled]="act.invalid">Ok</button>
      </div>

      </td>

      <td>
        <input type="text" name="deviceId" #deviceId="ngModel" [(ngModel)]="item.device_id" required class="form-control" >&nbsp;<button (click)="addDeviceId(item,deviceId.value);" type="button" class="btn btn-success" [disabled]="deviceId.invalid">Ok</button>
      </td>

      <td>
        <span class="fail_coordinate" *ngIf="item.last_coordinate === 0">Не на связи</span>
        <span *ngIf="item.last_coordinate !== 0">{{item.last_coordinate | date:'hh:mm dd-MM-yyyy'}}</span>
      </td>

      <td>
        <div class="centered">
        <button type="button" class="btn btn-info" (click)="onTouch($event,item);">На связи</button>
        </div>
      </td>

      <td>
        <div class="centered">
          <button type="button" *ngIf="item.sanction == 1" class="btn btn-danger" (click)="changeSanction($event,item,0);">Оставить</button>
          <button type="button" *ngIf="item.sanction == 0" class="btn btn-success" (click)="changeSanction($event,item,1);">Отпустить<br><span class="date_sanction">{{item.date_sanction}}</span></button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>