<div class="topnav" id="myTopnav">
  <a href="#" *ngIf="!computer" (click)="$event.preventDefault();">{{title}}</a>
  <a [routerLink]="['/list']" [routerLinkActive]="['active']">Задачи</a>
  <a [routerLink]="['/links']" [routerLinkActive]="['active']">Проверка связи</a>
  <a [routerLink]="['/remote']" [routerLinkActive]="['active']">Удаленный доступ</a>
  <a [routerLink]="['/autos']" [routerLinkActive]="['active']">Таймслоты</a>
  <a [routerLink]="['/sim']" [routerLinkActive]="['active']">SIM</a>
  <!--<a href="#contact">Contact</a>
  <a href="#about">About</a>-->
  <a [routerLink]="['/login']">Выход</a>
  <a href="#" class="icon" (click)="menu($event);">&#9776;</a>
</div>