.content{
    width: 90%;
    margin: auto;
}
.input-action table{
    width: 100%;
}
.green{
    color: green;
}
.plate{
    font-weight: 600;
}
.wrapper,.content, body, html {
    min-height: 100%;
    position:relative;
}
.button_actions td {
    width: 100%;
}
.plate {
    font-size: 14px;
    font-weight: 600;
}
.second_act_section{
    width: 90%;
}
#loader_center{
    width: 50px;
    margin: auto;
}
.deviceId{
    float: right;
}
.act_selector input{
    width: 80%;
    float: left;
}
.footer tr {

}
.btn{
    margin: auto;
}
.act_selector span{
    font-size: 20px;
    float: right;
    margin-right: 2px;
}
.button_actions tr td{
    width: 33%;
}
.button_actions{
    width: 100%;
    position:relative;
    bottom: 5px;
}
.button_actions button {
    width: 100%;
}

#back {
    width: 120px;
    right:50%;
    margin-right:-60px;
    position: fixed;
    bottom: 20px;
}
#back button {
    width: 100%;
}
#copy img{
    width: 30px;
    margin-top: -5px;
}
.status {
    color: blue;
}
.greenCopy{
    color: green;
    font-weight: 600;
}
.red {
    color: red;
}